table{
  border-spacing: 0 3px;
    border: none;
    margin-top: 10px;
    width: 100%;
    font-size: 60%;   
    border: none;
}
th{text-align: left;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font: normal normal medium 18px/24px Roboto;
    padding-left: 5px;
    height: 40px;
    color: white;
    background-color: #42515F;
}
td{
  padding-left: 5px;
}
tr{
  color: #3D3D3D;
  opacity: 1;

  height: 33px;
  background-color: white;
}
.dot {
  background: #e3e3e3;
  color: #6e6e6e;
  display: inline-block;
  background-color: #E9FEA5;
  text-align: center;
  padding: 2%;
  border-radius: 20px;
}
.fa{
width: max-content;
  height: max-content;
}
.trash-btn,
.trash-btn:focus,
.trash-btn:active:focus,
.trash-btn.active:focus,
.trash-btn.focus,
.trash-btn:active.focus,
.trash-btn.active.focus{
  font-size: 15px;
  background: transparent;
  border: none;
}
.fa-trash-o:focus{
  color: red;
}
.tr-btn, .edit-btn {
height: 10px;
width: 10px;
outline:none;
  background: transparent;
  border: none;
  color: gray;
  margin-right: 30%;
  /* padding: 12px 16px; */
  font-size: 16px;
  cursor: pointer;
}
.tr-btn:hover {
  color: red;
}
.edit-btn:hover {

  color: blue;
}
.icon{
  width: 15%;
}
.div-table{
  margin-left: 15%;
  margin-right: 15%;
  opacity: 100%;
  text-align: left;
  
  color: #42515F;
}
.empd{
  font-weight: bold;
}
.search{
  float: right;
  right: 10px;
}
.refRegister{
  float: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: 90%;
  background-color: #82A70C;
  font-weight: lighter;
}

.dash-img{
  width: 30px;
  height: 30px;
}