body{
    background-color: #F7F7F7;
}

html,body { 
    height:100%; 
    font-family: Arial, Helvetica, sans-serif;
}
.profileimage{
    width: 7%;
    height: 7%;
    padding-right: 2%;
}

.flexBox{
    box-sizing: border-box;
    font-size: 90%;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding: 2%;
    /* 
    border: 1px solid green; 
 
    */
}
.right-label{
    padding-top: 1px;
    padding-right: 5px;
    font-size: 90%;
    color: rgb(56, 56, 56);
}
select#salary{
    width: 30%;
}
 select{
    color: rgb(56, 56, 56);
   margin-right: 2%;
    width: 15%;
    height: 25px;
} 
#fullname, textarea{
    width: 90%;
    line-height: 1.8em; 
    margin-left: 5%
}

.box{
   
   margin-left: 27%;
   margin-right: 27%;
  
   background: #ffffff 0% 0% no-repeat padding-box ; 
   box-shadow: 0px 2px 3px rgb(59, 59, 59);
   border-radius: 1px;
   opacity: 1;
}
.left-label {
    width: 25%; 
    text-align: left;
    float: inline-start;
    color: rgb(56, 56, 56);
    font-size: 90%;
    margin-block: auto;
}
.radio{
    margin-block: auto; 
}
.form{
    margin-left: 7%;
    margin-top: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
     padding-bottom: 5%;    
}
.btn{
    width: 20%;
    height: 30px;
    box-shadow: 0px;
    border-style: solid;
    border-radius: 3px;
    border-width: thin;
    border-color: gray;
}  
#cancel{
margin-right: auto;
}
input[type="submit"]{
    margin-right: 5%;
} 

#Emptxt{
    margin-top: 3%;
 color: gray;
    font-size: 120%;
    font-weight: bold;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    margin-top: 10%;
    margin-left: 35%;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 20%;
  }
  .modal-content p{
    color: rgb(0, 123, 172);
    font-size: 150%;
    margin-top: 10%;
    margin-left: 20%;
  }
  #close{
      display: none;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#submit-form:hover, #submit-form:focus{
    background-color: rgb(0, 180, 0);
}
.btn:hover, #reset:hover, #reset:hover{
    background-color: gray;
}
@media screen and (max-width : 600px){
    body{
        background-color: olive;
    }
    .left-label {
        width: 25%; 
        text-align: left;
        float: left;
        color: rgb(56, 56, 56);
        font-size: 10pt;       
    }
    #fullname, textarea{
        width: 70%;
        line-height: 1em; 

    }
    #Emptxt{
     
     color: gray;
        font-size: 70%;
        font-weight: bold;
    }
}
#snackbar {
    width: 15%;
    height: 7%;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgb(212, 212, 212); /* Black background color */
    color: rgb(0, 0, 0); /* White text color */
    text-align: center; /* Centered text */
    font-size: 120%;
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top:50%;
    border: 5px;
  }
  #snackbar.show {
    border: 1px solid black;
    border-radius: 3px; /* Rounded borders */
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
    /* animation: fadein infinite */
    /* , fadeout 0.5s 2.5s; */
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 50%; opacity: 0;}
    to {bottom: 50%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 50%; opacity: 1;}
    to {bottom: 50%; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 50%; opacity: 1;}
    to {bottom: 50%; opacity: 0;}
  }
  .navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    border-color: #d1d1d1;
    height: auto;
}
a {

    color: #337ab7;
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
    background-color: transparent;
    -webkit-text-stroke-width: medium;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding-top: 7px;
    font-size: 20px;
    line-height: 20px;
    color:#82A70C;
    margin-left: 5%;
}